/* Color Palette
https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
#F8F9FA
#6C757D
#DEE2E6
#CED4DA
https://coolors.co/ffcdb2-ffb4a2-e5989b-b5838d-6d6875
*/

/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
/*   background:green; */
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
/*   background: lightblue; */
  font-family: "Open Sans";
  font-weight:normal;
/*   padding-left: 3% ;
  padding-right:3%; */
}

h1 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: "Fjalla One";
  font-size:35px;
  font-weight:600;
  margin: 0;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:25px;
  font-weight:600;
  margin: 0;
}
.content-wrap{
/*   width: 950px;  */
/*   To make the content wrapper flexible use max-width */
  max-width: 950px;
  margin: 0 auto; 
  /* by adding padding small difference in the amount of space between the top of the wrapper and the bottom*/
  padding: 50px;
  overflow:hidden;
}

.column-narrow{
  width: 30%; 
  float : left; 
  padding-right: 3%; 
  min-height 175px;
}
.column-wide{
  width: 70%; 
  float : left; 
  min-height: 225px;
  padding-left: 90px;
}

nav{
  background:#6C757D;
  margin-bottom:5px;
/*   margin-top:1%; */
 
}
.fixed-nav{
  position: fixed; 
  left: 0px;
  right: 0px; 
  top: 0; 
}
.display-nav{
  text-align: center;
}
.display-a{ 
  padding: 10px;
  display: inline-block;  
  width: 15%;
  font-size: 16px;
/*   if i use background for nav this color will work here */
  color: #DEE2E6;
/*   color:#6C757D; */
  font-weight: bold;
  text-decoration: none;
} 


/* Header & Footer 
------------------------------------*/
header {
  /*   background-color:#ffcdb2; */
  /*OR*/
  background-color: #F8F9FA;
}
.profile-img{
  border-radius:50%;
/*   width: 300px; */
/*   float: left;
  margin-right: 30px; */
  padding:0;
}

footer {
  /*   background-color:#6d6875; */
  /*OR*/
  background-color: #6C757D;
  text-align: center;
}

.contact-info a{
/*   given space between icons */
  padding: 10px; 
/*   choose the value of inline-block, because still want these elements to align side by side */
  display: inline-block;
  font-size: 24px;
  color:#f1faee; 
}
.image-bg{
/*   width: 1500px; */
  font-family: Helvetica, Arial, sans-serif;
  line-height: 2.0; 
/*   background-image: url(https://cdn.glitch.com/fe35fc9e-710d-46b1-a2bf-b95bfa9d1f84%2Fbanner_coe_csce-sd.jpg?v=1601659435464) no-repeat;  */
  background: linear-gradient(rgba(70,130,180, 0.5),
                 rgba(70,130,180, 0.5)),
                 url(https://cdn.glitch.com/fe35fc9e-710d-46b1-a2bf-b95bfa9d1f84%2Fbanner_coe_csce-sd.jpg?v=1601659435464/1400/1200) no-repeat; 
  
}

/* .alpha-fbg {
  width:1600;
  padding: 30px;
  height: 100%;
  /* sets the color with alpha transparency */
    /*background: rgba(70,130,180, 0.5);  */

  
}

/* Work Experience
------------------------------------*/
.work_experience_color {
  /*     background-color:#ffb4a2; */
  /*OR*/
  background-color: #DEE2E6;
}

/* Education
------------------------------------*/
.education_section_color {
  /*     background-color:#e5989b; */
  /*OR*/
  background-color: #CED4DA;
}
/* .sumary_of_skill {
  /*   background-color:#b5838d; */
  /*   OR */
/*   background-color: #ADB5BD; */
/*} */



